*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow-x: visible;
  min-width: 350px;
}

.adverTop{
	height: 100px;
	border: 1px solid black;
	font-size: 30px;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: none;
}


.lineQ{
  margin-top: 10px;
  height: 1px;
  min-width: 1200px;
  border-bottom: 1px solid  #272748;
}

/* СТИЛИЗАЦИЯ БЛОКА ТЕСТА */


.mainTestBlock{
 
margin-top: 90px;

margin-left:auto;
margin-right:auto;

min-height: 450px;
width: 1080px;

 display: flex;
 justify-content: center;
}


/*КОНТРОЛЬНАЯ ПАНЕЛЬ*/

.ctrPanel{
  width: 234px;
  height: 450px;
  border-right: 4px solid #0D3289;
 

  
}

.ctrPanel h1{
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 12px;
  font-size: 18px;
}

.ctrPanel p{
  width: 234px;
}

.ctrPanel p{
  margin-left: 12px;
  margin-bottom: 13px;
  font-size: 16px;
  color: #747479;

}

.selected p{
  font-weight: 600;
  color: #0D3289;
  text-decoration: underline;
}

.button{
 background-color: #3860A8;
 border: none;
 font-size: 18px;
 color: #FFFFFF;
 height: 37px;
 width: 145px;
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 cursor: pointer;
 font-family: Oswald;
 display: flex;
 justify-content: center;
 align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.buttons {
  margin-top: 35px;
  margin-left: 12px;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -5px;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*.button:hover{
 background-color: #1E4495;
}*/
.buttons div:active {
 margin-bottom: -1px;
 margin-top: 36px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.timer{
 margin-left: 12px;
 margin-top: 22px;
 background-color: #C4C4C4;
 border: none;
 font-size: 16px;
 color: #000000;
 height: 37px;
 width: 145px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: Oswald;
}

/*БЛОК СОДЕРЖАЩИЙ ВОПРОСЫ*/

.questions{
  display: block;

  width: 612px;
  min-height: 450px;
 
}



/*Обучение*/
.tutorial{
  margin-top: 90px;
  margin-bottom:-63px; 
  display: block;
  min-height: 396px;
 /* position: absolute;*/
  width: 540px;
  -webkit-animation: fade 1.9s;
  animation: fade 1.9s;

  
  
}
.tutorial h2{
   margin-top: 27px;
   margin-bottom: 13px;
   font-size: 18px;
   color: #747479;
   margin-left: 54px;
   font-weight: 400; 
 }

.tutorial span{
  display: inline-block;
}

.tutorial p{
  margin-top: 18px;
  margin-left: 54px;
  font-size: 16px;
}

.tutorial span img{
  
  /*margin-left: 5px;*/
}

/*results*/

.results{
  margin-top: 90px;
  margin-bottom:-63px; 
  display: block;
  min-height: 396px;
 /* position: absolute;*/
  width: 540px;
  -webkit-animation: fade 1.9s;
  animation: fade 1.9s;
}


.results span{
  display: inline-block;
}

.results p{
  margin-top: 18px;
  margin-left: 54px;
  font-size: 16px;
}

.results span img{
  margin-bottom: -3px;
  /*margin-left: 5px;*/
}







@keyframes fade{
    from{
       opacity: .85;
       -webkit-transform:scale(.99, .99);
       transform: scale(.99, .99);}
    to{       
        opacity: 1;
         -webkit-transform:scale(1, 1);
        transform: scale(1, 1);}
}

/*ВОПРОС*/

.quection{
  display: block;
  min-height: 387px;
  width: 504px;
  margin-left: 54px;
  margin-top: 27px;
  animation: fade 1.9s;
}
.quection h2{
   margin-bottom: 25px;
   font-size: 18px;
   color: #000;
   font-weight: 500; 
 }
.quection img{
  
  width: 504px;

}

.hide {
  display: none;
}

/*нивигация по числам*/

.numOfQuest{
  width: 558px;
 /* height: 60px;*/
  /*display: inline-block;*/

  margin-top: 9px;
  margin-left: 54px; 
  
  cursor: default;
}
.numOfQuest input{
  display: none;
}
.numOfQuest label{
  display: inline-flex;
  color: #747479;
  font-size: 14.5px;
  margin-right: 12px;
  cursor: pointer;
}
 .numOfQuest input:checked + label{
  font-weight: 600;
  text-decoration: underline;
 
}
.selected {
   color: #0D3289;
}



/*БЛОК ОТВЕТОВ*/
.adverleft{
    width: 234px;
  height: 360px;
 display: flex;
min-width: 183px;
  align-items: center;
  justify-content: center;
/*  background-color: red;*/
 /* position: relative;*/
 /* border: 1px solid red;*/
}

.answer{
  width: 234px;
  height: 450px;
  
}

.answer p{
  margin-top: 45px;
  margin-bottom: 27px;
  font-size: 18px;

}

.wrapper{
  position: relative;
  margin: 13.5px 0;
  cursor: default;
}

.wrapper input{
  display: none;
}
.wrapper label{
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-family: Oswald;
  font-size: 16px;
  margin-right: 4px;
  color: black;
 /* animation: answAnimation 1.9s;*/
  transition: opacity 0.135s;
}

/*@keyframes answAnimation{
    from{
       
       
       transform: scale(1, 1);}
    to{       
      
        
        transform: scale(0.1, 1);}
}*/
  
.wrapper label:before{
 content: "";     
 width: 0.85em;
 height: 0.85em;     
 display: inline-block;
 border:2px solid black;
 transition: opacity 0.135s linear;
 position: absolute;
 left: 0px;
 margin-top: 0.27em;
 vertical-align: middle;
}
.wrapper2 label:before{
 opacity:0.05;
}

.wrapper label:after{
 content: "";     
 width: 0.7em;
 height: 0.7em;
 background:black; 
 transition: opacity 0.135s linear;    
 display: inline-block;
 transition: .15s;
 transform: scale(1.5);
 opacity: 0;
 top:0;
 top: 0.45em;
 position: absolute;
 left: 0.17em; 
}
.wrapper2 label:after{
 opacity: 0.05;
}
.wrapper3 label{
  color: #0D3289;
  background: rgba(13, 50, 137, 0.3);
  padding-bottom: 3.6px;

  padding-right: 9px;
}
.wrapper3 label:after{
  background:  #0D3289; 


}
.wrapper input:checked + label:after{
  transform: scale(1);
  opacity: 1;
}


.next{
  margin-left: 0;
  margin-top: 27px;
}

.next:active {
 margin-bottom: -1px;
 margin-top: 28px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}


.testAnsw p{
  color: #747479;
}

.testAnsw label {
  color: #747479;
}
.testAnsw label:before{
 border:2px solid #747479;
}
.testAnsw label:after{
  background: #747479;
} 

.testAnsw .button{
  background: #747479;
}

.variant2{
  display: none;
}




/*Стилизация ФУТЕРА*/

    .footer{
      display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;
     position: relative;
    /* border:1px solid black; */
     max-width: 1920px;
     height:303px;
    }

    #footerimg{
    position: absolute;
    left: 0px;
    top: 0px;
     height:303px;
    }

.footerRef{
    width: 95%;
    max-width: 350px;
    position: absolute;
    left: 135px;
    display: block;
    margin-top: 15px;   
  
}
.footerRef a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

footer{
  margin-top: 140px;
  overflow: hidden;
  height:303px;
  width: 100%;
  /*position: relative;*/
 }

 #prefooter{
   /*  top: 0px;*/
    z-index: -1;
    width: 100%;
    height: 303px;
    position: absolute;

  }
  


.hide {
  display: none;
}






@media screen and (max-width: 800px){
    .adverTop
    {
     display: none;
    }

.lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }

    .footer{
      width: 100%;
      min-width: 0px;
     }

    .mainTestBlock{
      display: block;
      width: 100%;
      min-width: 320px;
      margin-top: 0;
      position: relative;
      /*border: 2px solid blue;*/
    }

    .ctrPanel{
     width: 90%;
     height: auto;
     padding-bottom: 63px;
     margin-left: auto;
     margin-right: auto;
     border-right: none;
     /*border: 2px solid green;*/
     border-bottom: 4px solid #0D3289;
     /*background-color: blue;*/
     }

     .ctrPanel h1, .ctrPanel p, .buttons, .timer{
      margin-left: 10%;
     }
   
     .ctrPanel h1{
      margin-top: 6%;
      }
     
     .questions{
     width: 100%;
     min-height: 0;
     height: auto;
     margin-top: 9px;
     margin-left:auto;
     margin-right:auto;
    /* background-color: green;*/
   /*  border: 2px solid green;*/
     /*bottom: 0; */

     }



     .tutorial, .results {
     min-width: 0;
     width: 100%;
     min-height:0;
     margin-top: 45px;
     /*border: 2px solid red;*/
     margin-bottom: 0;

    }

    .tutorial p, .results p{
    /*margin-left: 8.8%;*/
     width: 90%;
     margin-left:auto;
     margin-right:auto;
    }

    .quection{
     min-width: 0;
     width: 90%;
     margin-left:auto;
     margin-right:auto;
     min-height:0;
     /*height: 88%;*/
     /*border: 2px solid red;*/
     }
  
    .quection img{
      width: 100%;
     }
     
     .quection h2{
        min-height: 5.4em;
       /*border: 2px solid red;*/
     }

     
    .numOfQuest{
    /*background-color: yellow;*/
     width: 90%;
     height: auto;
     margin-top: 45px;
     margin-left:auto;
     margin-right:auto;
    /* border: 2px solid green;*/
    }
    
    .numOfQuest label{
      margin-bottom: 22px;
     margin-right: 22px;
      
    }



    .answer{
      width: 100%;
    
      margin-left: auto;
      margin-right: auto;
      height: auto;
    /*  border: 2px solid green;*/
      position: fixed;
      bottom: 0;
      
      border-top: 1px solid  #272748;
         z-index: 1002;
         background-color: white;
          
          transition: all 0.1s ease-in-out;
    }

    .wrapper{
      display: none;
    }
    .variant1{
      display: none;
    }

    .answer.responsive2{
       /* position: fixed;*/
        display: block;
         z-index: 1002;
         background-color: white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
         box-shadow: none;
        /* transition: all 0.1s ease-in-out; */

    }

     .responsive2 .wrapper{
      display: block;
      transition: all 0.1s ease-in-out;
    }

     .responsive2 .variant2 .triangleUp{
     border-bottom: 0px solid black;
     border-top: 20px solid black;
     margin-bottom: -5px;
    }


  /*  .next {
      
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: 0px;
    }*/

     .answer div{
      margin-left: 5%;
    }
     .triangleUp{
      width: 0;
      height: 0;
      border-bottom: 18px solid black;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      display: inline-block;
      margin-bottom: -2px;
      /* transition: all 0.05s ease-in-out; */
     }
     
     .variant2{
      display: inline;
      position: absolute;
      right: 0;
      bottom: 15px;
      cursor: pointer;
      width: 45%;
      font-size:100%;
     /* border: 1px solid green;*/
      
     }
    .next {
     margin-bottom: 11px; 
     margin-top: 11px;
     width: 45%;


    }
    
    .next:active {
    margin-bottom: 11px;
    margin-top: 11px;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    }
    .adverleft{
     width: 90%;
     /*background-color: red;*/
     margin-left: auto;
     margin-right: auto; 
   }

    .footer {
    display: none;
  }

  footer{
    height: 0;
  }
#prefooter{
  display: none;
}

}
     

   
  

@media screen and (max-width: 1200px) and (min-width: 800px){

   .lineQ{
          
    width: 100%;
    min-width: 0px;
    }
    .footer{
      width: 100%;
    min-width: 0px;
    }

    .mainTestBlock {
    width: 100%;
    height: 0;
    min-height: 0;
    /*padding-top:41.67%;*/
    /*background-color: red;*/
      position: relative; 
      padding-top: 41.67%;
      /*border: 2px solid black;*/

    }

    .ctrPanel{
     width: 20.67%;
     min-width: 195px;
     height: auto;
     /*background-color: blue;*/
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
      
   }
   .ctrPanel h2{
    margin-top: 6%;
    }

   .questions{
     width: 56.67%;
    /* background-color: green;*/
     min-height: 0;
     height: 100%;
     position: absolute;
     top: 0;
     left: 22.67%;
     right: 0;
     /*bottom: 0; */
      
   }

   .tutorial, .results {
     min-width: 0;
     width: 88.24%;
     min-height: 340px;
     height: 88%;
     margin-top: 6%;
    }

    .tutorial p, .results p{
      margin-left: 8.8%;
    }
    
    .quection{
     min-width: 0;
     width: 88.24%;
     min-height: 340px;
     /*height: 88%;*/
     margin-top: 3%;
     /*background-color: green;*/
     margin-left: 5.8%;
     /*margin-right: 8.8%;*/
   }
  
    .quection img{
      width: 98%;
   }

   .answer{
     width: 21.67%;
     /*min-width: 195px;*/
     /*background-color: red;*/
     height: auto;
     position: absolute;
     top: 0;
     left: 78.33%;
     right: 0;
     bottom: 0; 
    }

    .answer p{
    margin-top: 6%;
    }

  .numOfQuest{
    /*background-color: yellow;*/
    width: 82.35%;
    margin-left: 8.8%;

  }

   .adverleft{
     width: 21.67%;
     /*background-color: red;*/
     height: auto;
     position: absolute;
      max-height: 350px;
     top: 0;
     left: 78.33%;
     right: 0;
     bottom: 0; 
   }
  
   #footerimg{
    
    left: -50px;
    
    }

    .footerRef{
   
    left: 100px;
     
}

 #prefooter{
  display: none;

  }

  
}




 
 



