*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow-x: visible;
  min-width: 350px;
}

.adverTop{
	height: 100px;
	border: 1px solid black;
	font-size: 30px;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: none;
}



.lineQ{
  margin-top: 10px;
  height: 1px;
  min-width: 1200px;
  border-bottom: 1px solid  #272748;
}




.lineQ2{
  margin-top: 22px;
  height: 1px;
  min-width: 315px;
  border-bottom: 1px solid  #272748;
}



.button{
 background-color: #3860A8;
 border: none;
 font-size: 18px;
 color: #FFFFFF;
 height: 37px;
 width: 145px;
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 cursor: pointer;
 font-family: Oswald;
 display: flex;
 justify-content: center;
 align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.button:active {
 margin-bottom: -1px;
 margin-top: 31px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.button{
  margin-top: 30px;
  margin-right: 30px;
}
.buttons{
  display: flex;
}




.svgLable{
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.about{
  margin-top: 10px;
  margin-bottom: 50px;
  display:  block; 
  margin-left: 0; 
  margin-right: auto; 
  max-width:  765px;
  width:  100%;
  /*border: 1px solid black;  */   
}

#aboutimg{
 width:   80px;
 height:  80px;
}

#aboutTests{
margin-top: 50px;
  max-width: 550px;
  min-height: 50px;
  
margin-left: auto; 
  margin-right: auto; 
  height: auto;
  display: flex;
  /*justify-content: center;*/
  /*border:1px solid black;*/
  position: relative;
  
}

#textForTestAbout{
  display:  flex; 
 margin-left: 80px;
  margin-top: 5px;
}

#textForTestAbout h1{
  font-size: 29px;
  font-weight: normal;
}

.blueLine{
  display:  flex;
  margin-left:  auto; 
  margin-right:   auto;   
  width:  100%;
  height: 4px;
  background-color:#3860A8;  
  margin-top: 25px; 
  max-width: 1100px;
    
}

#grey{
   background-color: #C4C4C4;
   margin-top: 5px; 
}

.about h2{
  font-size: 27px;
  font-weight: normal;
  margin-top: 70px;
}

.about p{
  font-size: 18px;
  text-align: justify;
  margin-top: 18px;
}


#testImg{
  width: 100%;
  max-width: 504px;
  display: flex;
  margin-left: auto; 
  margin-right: auto; 
}

  .lineQ2{
   margin-top: 70px;
   
    }

.suppurtProject{
  width: 90%;
  max-width: 765px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
/*  border: 1px solid black;*/
  justify-content: center;
  margin-bottom: 72px;
}

.donate{
  margin-top: 45px;
  max-width: 315px;
  /*background-color: red;*/
      
}

.donate p{
   display: flex;
   font-size: 18px;
   justify-content: center;
 }

#id_sum{
  height: 27px;
  width: 145px;
  
}

label[for=id_sum]{
  color: #1E4495;
  margin-left: 0;
  display: block;
}

.moneyInput{
  display: flex;
  justify-content: left;
  
}

.wrapper{
  display: inline-flex;
  /*border:1px solid black;*/
  margin-top: 19px;
  margin-left: 19px;
}
.wrapper div{
  margin-left: 5%;
}

.wrapper input{
  display: none;
}
.wrapper input + label{
  width: 63px;
  height: 3px;
  background-color: rgba(13, 50, 137, 0.17);
     font-size: 2px;
     cursor: pointer;
  /*display: none;*/

}

.wrapper input:checked + label{
  background-color: #0D3289;
} 


#yMoney{
  width: 63px;

}
#McVMirMoney{
  width: 63px;

}

.sendMoney{
  margin-top: 9px;
  margin-left: 0;
}

.sendMoney:active{
  margin-top: 10px;
}


.blueline{
  background-color: #1E4495;
  width: 100%;
  height: 4px;
/*  display: flex;*/
  margin-left:auto;
  margin-right:auto;
  margin-top: 4px;
  margin-bottom: 9px;
 }


.adver{
   width: 315px;
/*  height: 315px;*/
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 15%;
  /*margin-bottom: 80px;*/
}

#lastGrey{
  display: none;
}

.greyLine{

  max-width: 1080px;
  width: 90%;
  height: 4px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  margin-top: 31px;
  margin-bottom: 27px;
}

   .footer{
  
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;
     position: relative;
    /* border:1px solid black; */
     max-width: 1920px;
     height:303px;
    }

    #footerimg{
    position: absolute;
    left: 0px;
    top: 0px;
     height:303px;

    }

.footerRef{
    width: 95%;
    max-width: 350px;
    position: absolute;
    left: 135px;
    display: block;
    margin-top: 15px;   
  
}
.footerRef a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

footer{
  overflow: hidden;
  height:303px;
  width: 100%;
  /*position: relative;*/
 }

 #prefooter{
   /*  top: 0px;*/
    z-index: -1;
    width: 100%;
    height: 303px;
    position: absolute;

  }
  

/*.moneyDiv{
   width: 90px;
   height: 10px;
   border: 1px solid black;
}*/


/*НОВЫЙ КОД!!!!!!!!!*/

.btnWrap{
  width: 100%;
  max-width: 765px;
  border: 1px solid black;
  margin-top: 40px;
 
  padding-bottom: 20px;
}

.btnWrap h2{
  margin-left: 10px;
  font-size: 23px;
  font-weight: normal;
  margin-top: 0px;
}

.btnWrap p{
  margin-left: 10px;
  margin-right: 30px;
}

.buttons{
  margin-left: 10px;
}


.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #1E4495;
  margin-top: 10px;
   transition: .5s all;
  -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);
}



.combo{
  margin-top: 70px;
  display: flex;
  width: 100%;
  cursor: pointer;
  /*cursor: default;*/

}

.combo h2{
  margin-top: 0;
  margin-left: 5px;
  
}

.comboBox p{
 
}

.parag{
  border: 1px solid white;
}

.hideme{
   overflow: hidden;
   -webkit-transition: height .5s; /* For Safari 3.1 to 6.0 */
  transition: height .5s;
}


.rightBox{
  width: 240px;
  
  background-color: white;
  margin-left: 20px;
  display: block;
  margin-top: 30px; 
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 border: 1px solid #C5C5C5;
}

.hugeWrap{
 display: flex;
 margin-left: auto;
 margin-right: auto;
/*border: 1px solid blue;*/
max-width: 1100px;
}

.about{
/*  border: 1px solid green;*/
}


#jumpNav h5, .rightBox h5{
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
 
}

#jumpNav a, .rightBox a{
  font-size: 16px;
  font-weight: normal;
  color: black;
 }

#jumpNav ol, .rightBox ol{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
 }
#jumpNav li, .rightBox li{
  margin-top: 15px;

 }

#jumpNav a:hover, .rightBox a:hover{
  text-decoration: underline;
 }

 .topBox{
  background-color: white;
  display: block;
  margin-top: 30px; 
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 border: 1px solid #C5C5C5;
 display: none;
}


@media screen and (max-width: 800px){
   

   


  
/*    .lineQ{
      display: none;
    }*/

    
  
 .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }
  

   .startPoint{
 
     width: 90%;
   }


.buttons{
/*  display: flex;
*/  margin-left: 10px;
  margin-right: auto;
  justify-content: center;
  display: block;


/*  background-color: green;*/
}

#shlbutton{
  margin-left: 0;
  margin-right: 5%;
}

.suppurtProject{
display: block;
}

.donate{
  margin-left: auto;
  margin-right: auto;
}

.adver{
  margin-left: auto;
  margin-right: auto;
}


#lastGrey{
  display: block;
  margin-top: 63px;
}

   #footerimg{
    
    left: -270px;
    
    }

    .footerRef{
   
    left: 45px;
     
}


/*#aboutTests{
  width:  90%;
 }

.blueLine{
     
  width:  90%;
 }*/

 .about{
  width: 90%;
  margin-left: auto;
 }
  .about p{
  font-size: 16px;
  }
  .about h2{
  font-size: 22px;
 }

#textForTestAbout h1{
  font-size: 25px;
 }

#aboutTests{
  margin-top: 25px;
margin-left: auto;
margin-right: auto;
width: 90%;
}

.hugeWrap{
 display: block;
}

.rightBox{
  margin-left: auto;
margin-right: auto;
width: 90%;
}


#fstBlueLine{
  width: 90%;
}



 .topBox{
  display: block;
}

.speClass{
  display: none;
}



.arrow-right{

  -webkit-transform: rotate(0deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(0deg);      /* to support IE 9 */
    transform: rotate(0deg);
}



.hideme{
  height: 0px;
}










}  



   
  

@media screen and (max-width: 1200px) and (min-width: 800px){

   .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }
    

 .startPoint{
  
  width: 90%;
  }

 

   #footerimg{
    
    left: -50px;
    
    }

    .footerRef{
   
    left: 100px;
     
}

 #prefooter{
  display: none;

  }



}


@media screen and (max-width: 1120px) and (min-width: 800px){

 .about{
  margin-left: 10px;  
}
/*#fstBlueLine{
  margin-left: 10px;
}*/
/*#aboutTests{
 
margin-left: 20px; 
}*/




  
 

}

 
 



