 {% load staticfiles %}

 <div class="smb" style="position: relative;">
       <img src="{% static 'home/images/snb.svg' %}" style="
       height: 214px;
             ">
    
     <div style=" position: absolute;
                  top: 50px;
                  width: 100%;

                  ">
       <h6 style="font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  text-align: center;
                 ">Решения к тестам и <br>многое другое  </h6>

        <div style="width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;">
          <a href="https://vk.com/digital.tests"><img src="{% static 'home/images/vk.svg' %}" ></a>
            <a href="https://web.facebook.com/Digital-Tests-2227469264242367/"><img src="{% static 'home/images/fb.svg' %}" 
              style="margin-left: 20px;
                     margin-right: 20px;
              "></a>
            <a href="https://ok.ru/group/55334614532198"><img src="{% static 'home/images/ok.svg' %}" ></a>  
        </div>
     </div>
    </div> 