 <h5>Возможно, вам будут интересны следующие тесты:</h5>
   <ol>
        <li><a  href="{% url 'shlquestions:Shlredirect' %}">Числовые тесты</a></li>
        <li><a  href="{% url 'verbal:verbalredirect' %}">Вербальные тесты</a></li>
        <li> <a  href="{% url 'logic:logicredirect' %}">Логические тесты</a></li>
        <li> <a  href="{% url 'iq:iqredirect' %}">Индуктивные тесты</a></li>
        
   </ol>




    