 <h5>Компании разработчики тестов способностей:</h5>
   <ol>
        <li><a  href="{% url 'home:shl' %}">SHL</a></li>
        <li> <a  href="{% url 'home:talent-q' %}">Talent Q</a></li>
        <li> <a  href="{% url 'home:ontarget' %}">Ontarget</a></li>
        <li> <a  href="{% url 'home:kenexa' %}">Kenexa</a></li>
        <li><a  href="{% url 'home:saville-assessment' %}">Saville Assessment</a></li>
        
        <li> <a  href="{% url 'home:watson-glaser' %}">Watson Glaser</a></li>
         
       





   </ol>




    