 {% load staticfiles %}

 <a  href="{% url 'home:home' %}"><img src="{% static 'home/images/LabelW-2.svg' %}" alt="DigitalTests" width=121px></a>
        <a  href="{% url 'shlquestions:Shlredirect' %}">Числовые тесты</a>
        <a  href="{% url 'verbal:verbalredirect' %}">Вербальные тесты</a>
        <a  href="{% url 'logic:logicredirect' %}">Тесты на логику</a>
        <a  href="{% url 'iq:iqredirect' %}">Индуктивные тесты</a>
<div style="display: flex;">
        <a  href="{% url 'home:shl' %}">SHL</a>
         <a href="{% url 'home:talent-q' %}"  style="margin-left: 20px;                     margin-right: 20px;">Talent Q</a>
          <a class="navBtn" href="{% url 'home:ontarget' %}">Ontarget</a>
</div>
        <a  href="{% url 'contact:contact' %}">Обратная связь</a>
         <div style="width: 100%;
                    display: flex;
                    margin-top: 5px;">
            <a href="https://vk.com/digital.tests"><img src="{% static 'home/images/vk1.svg' %}" style="width: 25px;"></a>
            <a href="https://web.facebook.com/Digital-Tests-2227469264242367/"><img src="{% static 'home/images/fb1.svg' %}" 
              style="margin-left: 20px;
                     margin-right: 20px;
                     width: 25px;
              "></a>
            <a href="https://ok.ru/group/55334614532198"><img src="{% static 'home/images/ok1.svg' %}" style="width: 25px;"></a>  
        </div>