{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru-RU">

<head>

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Тесты при приеме на работу онлайн примеры с ответами – на DigitalTests</title>
  <meta name="description" content="Бесплатные тесты для онлайн подготовки при устройстве на работу, примеры максимально похожи на тесты SHL, Talent Q, Ontarget и другие тесты, применяемые при приеме на работу в МВД, ФСБ, Сбербанк и другие компании."> 
  <meta name="og:title" property="og:title" content="Тесты при приеме на работу онлайн примеры с ответами – на DigitalTests">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Бесплатные тесты для онлайн подготовки при устройстве на работу, примеры максимально похожи на тесты SHL, Talent Q, Ontarget и другие тесты, применяемые при приеме на работу в МВД, ФСБ, Сбербанк и другие компании."/>
  <meta property="og:image" content="http://digitaltests.ru/static/home/images/ogImage.png" />
 
  <meta property="og:url" content="https://digitaltests.ru/" />

  <meta name="keywords" content="тесты при приеме на работу, психологические тесты, тест бухгалтер, вербальный тест, числовой тест, тест shl">

  <meta name="robots" content="index, follow"> 

  {% include "home/tags.html" %}

  <meta name="welcomepartners" content="verification"/>

	
  <link rel="stylesheet" href="{% static 'home/home.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'home/navBar.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=cyrillic" rel="stylesheet"> 
 
  <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'home/home.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/navBar.js' %}"></script>
  <script type="text/javascript">
   var navBarLinkId = 0;
 
 </script>
  
</head>
<body> 
   
   <header>
   
    <!-- верхнее меню-->
     <nav>
       {% include "home/navBar.html" %} 
     </nav>
    </header>
      <div class="lineQ" id="firstQ"></div>
    
  <main>

{% include "home/testexpert-top.html" %}

  	<div class="banner">
       <img id="preslise" src="{% static 'home/images/preBanner.png' %}">
      <div class="imgWrapp">
     <img src="{% static 'home/images/newBanner.png' %}" alt="Банер для сайта DigitalTests">
    <div class="bannerText">

<div id="bannerWrap">
     <h1>Решайте тесты при приеме на работу вместе с DigitalTests</h1>
    
    <div id="btnFlex">

      <div class="btnBlock">
      <a href="{% url 'shlquestions:Shlredirect' %}" class="button goShl goShl2">Числовой тест</a>
    
      <a href="{% url 'verbal:verbalredirect' %}" class="button goShl goShl2">Вербальный тест</a>
      </div>

      <div class="btnBlock" id="btnBloc2">
      <a href="{% url 'logic:logicredirect' %}" class="button goShl goShl2">Логический тест</a>
       <a href="{% url 'iq:iqredirect' %}" class="button goShl goShl2">Индуктивный тест</a>
      </div>

   </div> 
</div>
     </div>
     </div> 

    </div>

 

  <div class="startPoint">
      <div class="svgLable">
      <img src="{% static 'home/images/person-in-front-of-the-world-grid-inside-a-circle-svgrepo-com.svg' %}" alt="планета">
      </div>
      <div class="textForSvg"><p>Ведущие компании требуют от соискателей наличия определенных личностных, психологических, умственных и деловых качеств. Тестирование при приеме на работу используют такие организации как ФСБ, МВД, Банки (Сбербанк, ВТБ, Альфа-Банк), крупные корпорации (Роснефть, Газпром) и различные компании (Пятерочка, МТС).</p></div>
  </div>

  <div class="startPoint" id="startPoint2">
      <div class="svgLable">
      <img src="{% static 'home/images/man-with-solutions-svgrepo-com.svg' %}" alt="путь к успеху">
      </div>
      <div class="textForSvg"><p>Тесты, используемые при приеме на работу, могут применяться для экономистов,  для бухгалтера, для юриста и менеджера, их использование зависит от работодателя, а результат может использоваться как для отбора кандидатов, так и для совокупной оценки.</p></div>
  </div>

  <div class="startPoint">
      <div class="svgLable">
      <img src="{% static 'home/images/shake-hands-svgrepo-com.png' %}" alt="рукопожатие">
      </div>
      <div class="textForSvg"><p>На сайте DigitalTests есть настоящие бесплатные тесты для онлайн подготовки при устройстве на работу, максимально похожие на тесты SHL, Talent Q, Ontarget и другие тесты, применяемые при приеме на работу сотрудников в различные компании и организации.</p></div>
  </div>

  <div class="lineQ2 lineQ3" ></div>

<div class="testDescription">


<div class="about2">
   <div class="startPoint" id="aboutTests2">
      <div class="svgLable2">
      <img  src="{% static 'home/images/shlLabel.svg' %}" alt="числовые тесты при приеме на работу">
      </div>
      <div class="textForSvg2" id="textForTestAbout2">
        <h2>Числовые тесты</h2>
      </div>
  </div>
</div>



<p><strong>Числовой тест при приеме на работу</strong> бухгалтера или экономиста позволит определить способности кандидата к анализу информации, представленной в виде таблиц, графиков и диаграмм.  </p>


</div>
   <div class="greyLine"></div>

<div class='buclet'>

  <div class="leftSideB">

    <p>Вопросы тестов зависят от компании. Например, при приеме в Сбербанк они будут содержать задания на расчет процентов, дисконтирования и  ставок.</p>
    
    <a href="{% url 'shlquestions:Shlredirect' %}" class="button goShl">Числовой тест</a>
    
  </div>

  <div class="rightSideB">
     <img src="{% static 'home/images/startup-593327_960_720.jpg' %}" alt="ноутбук, черновик, ручка">
    <p>Числовые тесты отличаются от математических тестов тем, что они не требуют знания специальных формул и сложных вычислений, а вся необходимая информация для решения содержится в вопросе.</p>
   
  </div>

</div>



<div class="lineQ2 lineQ3"></div>

<div class="testDescription">

<div class="about2">
   <div class="startPoint" id="aboutTests2">
      <div class="svgLable2">
      <img  src="{% static 'home/images/verbalLabel.svg' %}" alt="вербальные тесты при приеме на работу">
      </div>
      <div class="textForSvg2" id="textForTestAbout2">
        <h2>Вербальные тесты</h2>
      </div>
  </div>
</div>




<p>Вербальный тест широко используется при приеме юристов и адвокатов, поскольку позволяет оценить навыки работы с текстовой информацией, умения отличать факты от предположений и способности критического мышления кандидата.</p>
</div>

 <div class="greyLine"></div>
<div class='buclet'>

  <div class="leftSideB">
    
    <p>Обычно правила работы с тестом заключаются в анализе отрывка текста и оценке ложности или правдивости утверждения относительно него. Такой тест позволяет объективно оценить навыки человека независимо от его культуры и традиций.</p>
    
    <a href="{% url 'verbal:verbalredirect' %}" class="button goShl">Вербальный тест</a>
    
  </div>

  <div class="rightSideB">
     <img src="{% static 'home/images/agreement-application-business-893894.jpg' %}" alt="юридический документ, очки, компьютер">
    <p><strong>Вербальный тест при приеме на работу</strong> позволит определить, как хорошо кандидат понимает законы и прочие юридические акты.</p>
   
  </div>

</div>



<div class="lineQ2 lineQ3"></div>
 <h2 id="plusH2">Преимущества при подготовке к тестам с DigitalTests:</h2>

<div class="plussesWrap">
<div class="plusses">

  
  <div class="diamond">
    <img src="{% static 'home/images/diamond-svgrepo-com.svg' %}" alt="Бриллиант">
    <p>Лучшие бесплатные тесты на одном сайте</p>
  </div>
 
 <div class="diamond" id="centralDim" alt="Отличная оценка">
    <img src="{% static 'home/images/rightanswers.svg' %}">
    <p>Тесты с ответами сразу и без рекламы </p>
  </div>
  
  <div class="diamond" alt="Информативный буклет">
    
    <img src="{% static 'home/images/marknout.svg' %}">
    <p>Доступны онлайн с любого устройства</p>
  </div>

</div>

</div>

<div class="lineQ2 lineQ3"></div>


<div class="testDescription">

<div class="about2">
   <div class="startPoint" id="aboutTests2">
      <div class="svgLable2">
      <img  src="{% static 'home/images/logicLabel.svg' %}" alt="Логическая последовательность элементов">
      </div>
      <div class="textForSvg2" id="textForTestAbout2">
        <h2>Логические тесты</h2>
      </div>
  </div>
</div>




<p>Тесты на логику используются для отбора кандидатов на работу требующую навыков и умений находить решения и справляется с задачами, содержащими новую информацию и незнакомые условия.</p>
</div>

 <div class="greyLine"></div>
<div class='buclet'>

  <div class="leftSideB">
   
    <p>Как правило, тесты состоят из фигур, выстроенных в логической последовательности, в которой один из элементов пропущен. Чтобы его определить, нужно понять какой логике подчиняются фигуры. </p>
    
    <a href="{% url 'logic:logicredirect' %}" class="button goShl">Логический тест</a>
    
  </div>

  <div class="rightSideB">
     <img src="{% static 'home/images/tech-wallpaper-2.jpg' %}" alt="глубина">
    <p>Логические тесты часто используются для оценки навыков программистов, инженеров, технических работников и дизайнеров. </p>
   
  </div>

</div>

<div class="lineQ2 lineQ3"></div>

<div class="testDescription">

<div class="about2">
   <div class="startPoint" id="aboutTests2">
      <div class="svgLable2">
      <img  src="{% static 'home/images/iqLabel.svg' %}" alt="мудрость">
      </div>
      <div class="textForSvg2" id="textForTestAbout2">
        <h2>Индуктивные тесты</h2>
      </div>
  </div>
</div>



<p>Тесты на индуктивное мышление направлены на исследование способностей человека приходить к общим выводам основываясь на частных суждениях и закономерностях.</p>
</div>

 <div class="greyLine"></div>
<div class='buclet'>

  <div class="leftSideB">
    
    <p>Индуктивное мышление широко используется для решения различных проблем и поэтому служит важным критерием отбора на позиции, где от кандидата требуются способности самостоятельного принятия правильных решений.</p>
    
    <a href="{% url 'iq:iqredirect' %}" class="button goShl">Индуктивный тест</a>
    
  </div>

  <div class="rightSideB">
     <img src="{% static 'home/images/free_business-wallpaper-1920x1200.jpg' %}" alt="успех, рост">
    <p>Тесты на индуктивное мышление используются на собеседовании при приеме на работу в ФСБ, МВД, а так же на позиции с высоким уровнем ответственности.</p>
   
  </div>

</div>

<div class="lineQ2 lineQ3"></div>

 <h2 id="plusH2">Статистическая оценка результатов тестов</h2>
<div class="statistics">
  <div class="statDescription">
  
    <p>Пройдя тест на сайте DigitalTest, вам будет доступна статистика вашего результата относительно результатов других участников. Наиболее популярные тесты, применяемые для отбора кандидатов:</p>
    
    <img src="{% static 'home/images/statisticsMonitor.svg' %}">
    
    <div class="buttons">
      <a href="{% url 'shlquestions:Shlredirect' %}" class="button goShl" id="shlbutton">Числовой тест</a>
      <a href="{% url 'verbal:verbalredirect' %}" class="button goShl">Вербальный тест</a>
    </div>
  
  </div>

</div>

<div class="lineQ2 lineQ3"></div>


<h2 id="plusH2" >Компании разработчики тестов способностей</h2>

<div class="developers">

 <div class="devWrap">

   <p>Компании, занимающие лидирующие позиции на рынке консалтинговых услуг по оценке персонала, разрабатывающие тесты и личностные опросники. Вы, скорее всего, столкнетесь с их <em>тестами на собеседовании при приеме на работу</em>:</p>

   <div class="centerdWrap">
      
   <div class="layoutChange">
      <div class="buttons devButtons" id="firstGrid">
        <a  href="{% url 'home:shl' %}" class="button goShl">SHL</a>
        <a  href="{% url 'home:talent-q' %}" class="button goShl" id="centralButtons">Talent Q</a>
        <a  href="{% url 'home:ontarget' %}" class="button goShl">Ontarget</a>
        </div>
      
      <div class="buttons devButtons">
        <a  href="{% url 'home:kenexa' %}" class="button goShl">Kenexa</a>
        <a  href="{% url 'home:saville-assessment' %}" class="button goShl" id="centralButtons">Saville Assessment</a>
        <a  href="{% url 'home:watson-glaser' %}" class="button goShl">Watson Glaser</a>
        </div>
   </div>
      
   </div>
      
 </div>

</div>

<div class="lineQ2"></div>

<div class="suppurtProject">

   {% include "home/testexpert-foot.html" %}

</div>


  </main>

  <footer>
      <img id="prefooter" src="{% static 'home/images/preGroup.png' %}">
  	<div class="footer">
   <img id="footerimg" src="{% static 'home/images/Group.png' %}" alt="тесты при приеме на работу" >
    <div class="footerRef">
          {% include "home/footerRef.html" %} 
     </div>
  </div>
   
  </footer>
   
   


</body>

</html>