  {% load staticfiles %}

    <div class="nawWrap">
    <ul class="topnav" id="myTopnav">

        <div class="topnav1">
            <a  href="{% url 'home:home' %}"><img src="{% static 'home/images/Label-2.svg' %}" alt="DigitalTests" width=121px style="margin-bottom: -5px"></a>
            <a  class="navBtn" href="{% url 'shlquestions:Shlredirect' %}">Числовые</a>
            <a  class="navBtn" href="{% url 'verbal:verbalredirect' %}">Вербальные</a>
            <a  class="navBtn" href="{% url 'logic:logicredirect' %}">Логические</a>
            <a  class="navBtn" href="{% url 'iq:iqredirect' %}">Индуктивные</a>
            <a  class="navBtn" href="{% url 'contact:contact' %}">Обратная связь</a>

            <div class="topSelector">
             <div class="arrow-nav"></div>
             <div class="more">Еще</div> 
            </div>
       </div>

       <div class="topnav2">
         <div class="additionalWrap">
           <a  class="navBtn" href="{% url 'home:shl' %}">SHL</a>
           <a class="navBtn" href="{% url 'home:talent-q' %}">Talent Q</a>
           <a class="navBtn" href="{% url 'home:ontarget' %}">Ontarget</a>
           <a class="navBtn" href="{% url 'home:kenexa' %}">Kenexa</a>
           <a class="navBtn" href="{% url 'home:saville-assessment' %}">Saville Assessment</a>
           <a class="navBtn" href="{% url 'home:watson-glaser' %}">Watson Glaser</a>
         </div>
       </div>

        <div  id="menu" class="icon"><img src="{% static 'verbal/images/burger.svg' %}" width=22px></div>
    </ul>
    </div>

