{% load staticfiles %}

<div class="dop_class">
  
  <a class="testExpertTop" onClick="redirect_top()"
        target="_blank">
        <img class="top-te-desc-banner"  src="{% static 'home/images/bannerTEdsc.png' %}">
        <img class="top-te-mob-banner"  src="{% static 'home/images/bannerTEmob.png' %}">
     </a>

</div>


<!-- <div class="adver-window" id="adwer-win">

  <a class="closeLink" onClick="close_adwr_win()" >Закрыть X</a>
  
</div> -->



<style type="text/css">
 .dop_class{
  
 }

 .testExpertTop{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px;
      margin-top: 25px;
      margin-bottom: 25px;
      cursor: pointer;
      width: 100%;
      height: 100%;
  }

  .top-te-desc-banner{
    display: block;
    width: 100%;
    height: 100%;
  }

  .top-te-mob-banner{
    display: none;
    width: 100%;
    height: 100%;
  }


  .adver-window{
    width: 200px;
    height: 200px;
    position: fixed;
    display: block;
    bottom: 10px;
    left: 10px;
    background: white;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #C5C5C5;
  }

  .closeLink{
    height: auto;
    padding:5px 15px 5px ;
    position: relative;
    float: right;

  }
 


  @media screen and (max-width: 800px){

   .top-te-desc-banner{
      display: none;
      width: 100%;
      height: 100%;
    }

    .top-te-mob-banner{
      display: block;
      width: 100%;
      height: 100%;
    }

  }

</style>


  <script type="text/javascript">

    function redirect_top()
    {
       ga('send', 'event', 'testexpert-top', 'click');

    var win = window.open('https://test-expert.pro/?utm_source=digitaltests&utm_medium=referral&utm_campaign=digitaltestsbanner', '_blank');
  win.focus();
    }


    function close_adwr_win(){
       var adwerWin = document.getElementById('adwer-win');
       adwerWin.style.display = "none"
    }

  </script>