*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow-x: visible;
  min-width: 350px;
}

.adverTop{
	height: 100px;
	border: 1px solid black;
	font-size: 30px;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: none;
}


.lineQ{
  margin-top: 10px;
  height: 1px;
  min-width: 1200px;
  border-bottom: 1px solid  #272748;
}

.mainContact{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left:auto;
  margin-right:auto;
  min-height: 500px;
  width: 950px;
  display: flex;
  justify-content: center;
 /* border: 1px solid black;*/
}

.feedback{
  width: 600px;
  min-height: 500px;
 /* background-color: lightblue;*/
 }

.feedback p{
   display: flex;
   font-size: 18px;
   justify-content: center;
 }

.blueline{
  background-color: #1E4495;
  width: 90%;
  height: 4px;
/*  display: flex;*/
  margin-left:auto;
  margin-right:auto;
  margin-top: 5px;
  margin-bottom: 10px;
 }

 input[type=text], select, textarea{
    width: 90%;
    height: 30px;
    padding: 4px 7px;
    margin-top: 3px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #1E4495;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
    font-family: 'Oswald';
   
  }

  label{
   margin-left: 5%;
   margin-top: 10px;
   font-size: 14px;
   color: #747479;
  }

  textarea {
   resize: none;
  }

/* width */
textarea::-webkit-scrollbar {
    width: 9px;
    cursor: pointer;
}

/* Track */
textarea::-webkit-scrollbar-track {
   cursor: pointer;
  background-color: white;

}
 
/* Handle */
textarea::-webkit-scrollbar-thumb {
   
  background-color:#3860A8;
  cursor: pointer;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/
.g-recaptcha{
margin-left: 5%;
margin-top: 0px;
}

.recaptcha1{
  margin-left: 5%;
  height: 24px;
  

}
.recaptcha1 span{
  /*display: inline-flex;*/
  font-size: 14px;
   color: red;
   width: 110px;
      
}





.button{
 background-color: #3860A8;
 border: none;
 font-size: 18px;
 color: #FFFFFF;
 height: 37px;
 width: 145px;
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 cursor: pointer;
 font-family: Oswald;
 display: flex;
 justify-content: center;
 align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.buttons {
  margin-top: 24px;
  margin-left: 5%;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -5px;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.buttons div:not(:last-child):active {
 margin-bottom: -1px;
 margin-top: 25px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.spinner div:active{
  margin-top: 1px;
}

.hide{
  display: none;
}

.inputMessage{
  display: inline-block;
}

.inputMessage p{
  /*display: inline-flex;*/
  font-size: 14px;
   color: red;
   display: none;
}


.messageSent {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.messageSent img{

  margin-right: 24px;
  
}

.onmain:active {
 margin-bottom: -1px;
 margin-top: 21px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.sendMoney:active {
 margin-bottom: -2px;
 margin-top: 11px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.onmain{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}


.onSuccess{
  -webkit-animation: fade 1.9s;
  animation: fade 1.9s;
}



@keyframes fade{
    from{
       opacity: .85;
       -webkit-transform:scale(.99, .99);
       transform: scale(.99, .99);}
    to{       
        opacity: 1;
         -webkit-transform:scale(1, 1);
        transform: scale(1, 1);}
}


/*.donate{
  width: 350px;
  min-height: 711px;
  margin-top: 30px;
  
}*/

.donate p{
   display: flex;
   font-size: 18px;
   justify-content: center;
 }

#id_sum{
  height: 27px;
  width: 145px;
  
}

label[for=id_sum]{
    display: block;
  color: #1E4495;
  margin-left: 0;
}

.moneyInput{

  display: flex;
  margin-left: 5%;
}

.wrapper{
  display: inline-flex;
 /* border:1px solid red;*/
  margin-top: 27px;
}
.wrapper div{
  margin-left: 5%;
}

.wrapper input{
  display: none;
}
.wrapper input + label{
  width: 63px;
  height: 3px;
  background-color: rgba(13, 50, 137, 0.17);
     font-size: 2px;
     cursor: pointer;
  /*display: none;*/

}

.wrapper input:checked + label{
  background-color: #0D3289;
} 


#yMoney{
  width: 63px;

}
#McVMirMoney{
  width: 63px;

}


.sendMoney{
  margin-top: 9px;
  margin-left: 5%;
}


   .footer{
  
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;
     position: relative;
    /* border:1px solid black; */
     max-width: 1920px;
     height:303px;
    }

    #footerimg{
    position: absolute;
    left: 0px;
    top: 0px;
     height:303px;
    }


.footerRef{
    width: 95%;
    max-width: 350px;
    position: absolute;
    left: 135px;
    display: block;
    margin-top: 15px;   
  
}
.footerRef a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

footer{
  overflow: hidden;
  height:303px;
  width: 100%;
  /*position: relative;*/
 }

 #prefooter{
   /*  top: 0px;*/
    z-index: -1;
    width: 100%;
    height: 303px;
    position: absolute;

  }

  

/*.moneyDiv{
   width: 90px;
   height: 10px;
   border: 1px solid black;
}*/


.adver{
  width: 315px;
/*  height: 315px;*/
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 5%;
}

.greyLine{

 display: none;
}

.respRes{
  /* color:#1E4495; */
  margin-top: 15px;
  margin-left: 5%;
}



@media screen and (max-width: 800px){
    .adverTop
    {
     display: none;
    }


    
   
   .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }
  
    

  .mainContact{
     margin-top: 0px;
     display: block;
     width: 100%;
     min-width: 350px;
  }


 .donate{
  margin-top: 0px;
  min-height: 0;
   width: 100%;
 }
 
 .adver{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
 }

/* .moneyInput{
  margin-left: auto;
  justify-content: center;
 }*/

.greyLine{

  max-width: 1080px;
  width: 90%;
  height: 4px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  margin-top: 50px;
  margin-bottom: 50px;
}

  .lineQ2{
    margin-top: 50px;
    width: 100%;
    min-width: 0px;
    border-top: 1px solid black;
   
    }
  
 .feedback{
 margin-top: 100px;
  width: 100%;
  min-height: 0;
 /* background-color: lightblue;*/
  }


   #footerimg{
    
    left: -270px;
    
    }

    .footerRef{
   
    left: 50px;
     
}


 }  



   
  

@media screen and (max-width: 1200px) and (min-width: 800px){

   .lineQ{
    width: 100%;
    min-width: 0px;
   
    }
    
     


  .mainContact{
   
     width: 100%;
  }
.donate .blueline{
    min-width: 315px;
    margin-left: 17.5px;
 
  }
 .feedback{
 
  width: 60%;
  min-height: 500px;
 /* background-color: lightblue;*/
  }
   #footerimg{
    
    left: -50px;
    
    }

    .footerRef{
   
    left: 100px;
     
}
 
  
}




 
 



