*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow-x: visible;
  min-width: 350px;
}


.lineQ{
  margin-top: 10px;
  height: 1px;
  min-width: 1200px;
  border-bottom: 1px solid  #272748;
}



.banner{
  
  width: 100%;
  margin-top: 22px;
  height: 451px;
/* overflow: hidden;*/
/* border:1px solid red; */

}

.imgWrapp{
   display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
     overflow: hidden;
     position: relative;
    
     height: 451px;
     max-width: 1920px;
   
  }

  .imgWrapp img{
  position: absolute;
  top: 0px;
width: 1920px;
left: 50%;
   
    margin-left: -960px;
    /*top: 0px;*/
/* height: 450px;*/
     z-index: -1;
  }
  
  #preslise{
   /*  top: 0px;*/
    z-index: -2;
    width: 100%;
    height: 451px;
    position: absolute;
  /*  display: none;*/
  }

   .bannerText{
    width: 95%;
    max-width: 750px;
    display: flex;
    height: auto;
   /* border: 1px solid red;*/
   margin-right: 5%;
    justify-content: center;
  }

#bannerWrap{
  margin-left: 15%;
  width: 95%;
  margin-top: 50px;
  display: block;
}
 .bannerText h1{
      font-size: 40px;
  }


#btnFlex{
  display: flex;
  margin-top: 10px;
}

#btnFlex a{
  width: 160px;
}

.btnBlock{
  margin-left: 60px;
  display: block;
}

#btnBloc2{
  margin-left: 70px;
}


.lineQ2{
  margin-top: 22px;


  height: 1px;
  min-width: 315px;
  border-bottom: 1px solid  #272748;
}

.lineQ3{
margin-top: 35px;
margin-bottom: 35px;

}


.startPoint{
  
  margin-top: 27px;
  width: 100%;
  max-width: 765px;
  height: auto;
  min-height: 50px;
  display: flex;
   margin-right: auto;
   margin-left: auto; 
/*  border:1px solid black;*/
  position: relative;
}

.svgLable{
  margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.svgLable img {
  width: 40px;
  height: 40px;
}

.textForSvg{
  margin-left: 76px;
  width: 91%;
}

.textForSvg p{
  font-size: 17px;
}

#startPoint2 p{
  margin-top: 9px;
}


.greyLine{

  max-width: 1080px;
  width: 90%;
  height: 4px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  margin-top: 31px;
  margin-bottom: 27px;
}



.testDescription{
margin-top: 10px;
  margin-bottom: 10px;
  display:  block; 
  margin-left: auto; 
  margin-right: auto; 
  max-width:  765px;
  width:  90%;
}

.testDescription p{
  margin-top: 20px;
  font-size: 18px;
  text-align: justify;
}




.about2{
  margin-top: 50px;
  margin-bottom: 30px;
  display:  block; 
  margin-left: auto; 
  margin-right: auto; 
  max-width:  765px;
  width:  100%;
  /*border: 1px solid black;  */   
}

.svgLable2{
  margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#aboutTests2{
  width:  100%;
}

#textForTestAbout2{
 margin-left: 80px;


}
#textForTestAbout2 h2{
  font-size: 32px;

}



.buclet{
  max-width: 765px;
  width: 90%;
  min-height: 306px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
 }

.leftSideB{
  width: 47%;
  min-height: 306px;
  border-right: 4px solid #3860A8;  
  /*background-color: red;*/
}




.leftSideB p{
  font-size: 18px;
  text-align: justify;
  margin-right: 20px;
  margin-top: 50px;

}

.goShl{
   
   margin-top: 31px;
}

.goShl2{
   margin-left: 0px;
   margin-top: 31px;
}

.rightSideB{
  width: 53%;
  min-height: 306px;
  
}

.rightSideB p{
  margin-top: 9px;
  width: 89%;
  font-size: 18px;
  margin-left: 11%;
  text-align: justify;
}

.rightSideB img{
  width: 89%;
   margin-top: 20px;
  margin-left: 11%;
}

.button{
 background-color: #3860A8;
 border: none;
 font-size: 18px;
 color: #FFFFFF;
 height: 37px;
 width: 145px;
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 cursor: pointer;
 font-family: Oswald;
 display: flex;
 justify-content: center;
 align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.goShl:active {
 margin-bottom: -1px;
 margin-top: 32px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

#plusH2{
  max-width: 765px;
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
   justify-content: center;
    font-size: 32px;
}

.plusses{
  margin-bottom: 45px;
  margin-top: 54px;
  max-width: 765px;
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.diamond{
  width: 255px;
}

.diamond img{
  height: 90px;
   display: flex;
  margin-left: auto;
  margin-right: auto;
}

.diamond p{
  margin-top: 9px;
 font-size: 18px;
 text-align: center;

}

#centralDim{
  margin-left: 15%;
  margin-right: 15%;
}

.statistics{

   max-width: 765px;

  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
/*  border:1px solid red;*/
  position: relative;
  margin-top: 14px;
  margin-bottom: 54px;
}

.statDescription{
  min-height: 153px;
 width: 68%;
  border-right: 4px solid #3860A8;  
  /*background-color: red;*/
  /*margin-left: 22px;*/
}
.statDescription p{
    text-align: justify;
  margin-top: 9px;
  font-size: 18px;
  margin-right: 22px;
  
}
.statDescription img{
top:30px;
  right: 9px;
    display: flex;
  position: absolute;
}
.buttons{
  display: flex;
}

#shlbutton{
  margin-left: 0px;
  margin-right: 72px;
}

.about{
  margin-top: 50px;
  margin-bottom: 50px;
  display:  block; 
  margin-left: auto; 
  margin-right: auto; 
  max-width:  765px;
  width:  100%;
  /*border: 1px solid black;  */   
}

.about img{
 width:   80px;
 height:  80px;
}

#aboutTests{
 /* border: 1px solid red;*/
  /*margin-left:  22px;*/     
  max-width: 765px;
  width:  99%;
  min-height: 50px;

  
}

#textForTestAbout{
 /*  border: 1px solid green;*/
  margin-right: 0px;
/*  margin-left:  10%;*/
  justify-content:  center; 
  display:  flex; 
/*  width:  90%;*/
 margin-left: 110px;
  width: 85%;
  margin-top: 5px;

}
.textForSvg h1{
  font-size: 25px;
  font-weight: normal;
}

.blueLine{
  display:  flex;
  margin-left:  auto; 
  margin-right:   auto;   
  width:  100%;
  height: 4px;
  background-color:#3860A8;  
  margin-top:   15px; 
  
}

.about p{
  font-size: 18px;
  text-align: justify;
  margin-top: 20px;
}

.suppurtProject{
  width: 90%;
  max-width: 765px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
/*  border: 1px solid black;*/
  justify-content: center;
  margin-bottom: 80px;
}

.donate{
  margin-top: 45px;
  max-width: 315px;
  /*background-color: red;*/
      
}

.donate p{
   display: flex;
   font-size: 18px;
   justify-content: center;
 }

#id_sum{
  height: 27px;
  width: 145px;
  
}

label[for=id_sum]{
  color: #1E4495;
  margin-left: 0;
  display: block;
}

.moneyInput{
  display: flex;
  justify-content: left;
  
}

.wrapper{
  display: inline-flex;
  /*border:1px solid black;*/
  margin-top: 19px;
  margin-left: 19px;
}
.wrapper div{
  margin-left: 5%;
}

.wrapper input{
  display: none;
}
.wrapper input + label{
  width: 63px;
  height: 3px;
  background-color: rgba(13, 50, 137, 0.17);
     font-size: 2px;
     cursor: pointer;
  /*display: none;*/

}

.wrapper input:checked + label{
  background-color: #0D3289;
} 


#yMoney{
  width: 63px;

}
#McVMirMoney{
  width: 63px;

}

.sendMoney{
  margin-top: 9px;
  margin-left: 0;
}


.blueline{
  background-color: #1E4495;
  width: 100%;
  height: 4px;
/*  display: flex;*/
  margin-left:auto;
  margin-right:auto;
  margin-top: 4px;
  margin-bottom: 9px;
 }


.adver{
  width: 315px;
/*  height: 315px;*/
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 15%;
  /*margin-bottom: 80px;*/
}

#lastGrey{
  display: none;
}

   .footer{
  
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;
     position: relative;
    /* border:1px solid black; */
     max-width: 1920px;
     height:303px;
    }

    #footerimg{
    position: absolute;
    left: 0px;
    top: 0px;
     height:303px;
    }

.footerRef{
    width: 95%;
    max-width: 350px;
    position: absolute;
    left: 135px;
    display: block;
    margin-top: 15px;   
  
}
.footerRef a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

footer{
  overflow: hidden;
  height:303px;
  width: 100%;
  /*position: relative;*/
 }

 #prefooter{
   /*  top: 0px;*/
    z-index: -1;
    width: 100%;
    height: 303px;
    position: absolute;

  }
  

/*.moneyDiv{
   width: 90px;
   height: 10px;
   border: 1px solid black;
}*/


.developers{
   width: 90%;
  max-width: 765px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.devWrap{

  display: block;
  
}

.devWrap p {
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}

.centerdWrap{
  display: flex;
    margin-left: auto;
  margin-right: auto;
 /* border: 1px solid red;*/
  
}


#centralButtons{
  margin-right: 150px;
  margin-left: 150px;
}









@media screen and (max-width: 800px){
    .adverTop
    {
     display: none;
    }


  
   .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }




 .bannerText h1{
  font-size: 30px;
 }

#btnBloc2{
  margin-left: 20px;
}

.bannerText{

   margin-right: auto;
   margin-left: auto;
   width: 100%;
  }
#btnFlex{
 margin-right: auto;
   margin-left: auto;
}

.btnBlock{

   margin-right: auto;
   margin-left: auto;
}

#bannerWrap{
  max-width: 500px;
   margin-right: auto;
   margin-left: auto;
}

#btnFlex a{
  width: 150px;
  font-size: 16px;
}

  .imgWrapp img{
 
left: 50%;
   
    margin-left: -720px;

  }
  
  .lineQ2{
/*   margin-top: 60px;*/
  }
   .startPoint{
 
     width: 90%;
   }

   #startPoint2 p{
      margin-top: 0;
   }




  .buclet{
    min-height: 0;
    display: block;
    border-left:  4px solid #3860A8; 
    width: 95%;
  }

  .leftSideB{
  width: 95%;
  max-width: 400px;
  /*display: flex;*/
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  border-right: none;  
/*  background-color: red;*/
}
  
#textForTestAbout2 h2{
  font-size: 28px;

}



  .leftSideB p{
    margin-top: 9px;
  }




  .rightSideB{
  width: 95%;
  max-width: 400px;
  /*display: flex;*/
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
 /* background-color: green;*/
}

.rightSideB p{
  width: 100%;
  margin-left: 0px;

}

.rightSideB img{
  width: 100%;
margin-left: 0px; 
  margin-top: 18px;
  margin-bottom: -4px;
}
.goShl{
  margin-left: 0px; 
}

.plussesWrap{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

#plusH2{
  font-size: 28px;

}
.plusses{
   margin-top: 27px;
display: block;
}

.diamond{
  width: 200px;
}
#centralDim{
  margin-left: 0;
  margin-right: 0;
  margin-top: 22px;
  margin-bottom: 22px;
}


.statistics{
  /*border-left: 4px solid #3860A8; */ 
}


.statDescription img{
  margin-top: 27px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: static;
}


.statDescription{
  min-height: 153px;
  width: 100%;
 border-right: none; 
 /* background-color: red;*/
  /*margin-left: 9px;*/
}

.buttons{
/*  display: flex;
*/  margin-left: auto;
  margin-right: auto;
  justify-content: center;
/*  background-color: green;*/
}

#shlbutton{
  margin-left: 0;
  margin-right: 10%;
}

.suppurtProject{
display: block;
}

.donate{
  margin-left: auto;
  margin-right: auto;
}

.adver{
  margin-left: auto;
  margin-right: auto;
}


#lastGrey{
  display: block;
  margin-top: 63px;
}

   #footerimg{
    
    left: -270px;
    
    }

    .footerRef{
   
    left: 45px;
     
}


/*#aboutTests{
  width:  90%;
 }

.blueLine{
     
  width:  90%;
 }*/

 .about{
  width: 90%;
 }
  .about p{
  font-size: 16px;
  }
  .about h1{
  font-size: 22px;
  
  }


 .layoutChange{
  display: flex;
   margin-left: auto;
  margin-right: auto;
 }

.devButtons{
  display: block;
}

#centralButtons{
  margin-left: auto;
  margin-right: auto;
}

#firstGrid{
  margin-right: 10%;
}

 





}  



   
  

@media screen and (max-width: 1200px) and (min-width: 800px){

   .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }
    



  

   


  .startPoint{
  
  width: 90%;
  }

   #footerimg{
    
    left: -50px;
    
    }

    .footerRef{
   
    left: 100px;
     
}

 #prefooter{
  display: none;

  }



}




 
 



