<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form method="POST">

   {% csrf_token %}
   <input type="email", name="email" value="em@em.em">

   
   <button type="submit">Submit</button>
  </form> 

</body>
</html>