*{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow-x: visible;
  min-width: 350px;
}

.adverTop{
	height: 100px;
	border: 1px solid black;
	font-size: 30px;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: none;
}

nav
{
    height: 50px;
}

.navSticky{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1001;
    top:0;
    -webkit-box-shadow: 1px 8px 37px -3px #0435B3;
    -moz-box-shadow: 1px 8px 37px -3px #0435B3;
    box-shadow: 1px 8px 37px -3px #0435B3;
}

.topnav{
/*   min-width: 350px;*/
    display: flex;
    justify-content: center;
    width: 100%;  
    background-color: #FFFFFF;
    font-size: 13px;
    transition: all 0.1s ease-in-out;
     padding-top: 9px; 
     min-width: 350px;
    /*-webkit-box-shadow: 1px 9px 41px -4px #0435B3;
    -moz-box-shadow: 1px 9px 41px -4px #0435B3;
    box-shadow: 1px 9px 41px -4px #0435B3;*/

}

.topnav a{

    transition: all 0.1s ease-in-out;
    display: inline-block;
    transition: all 0.1s;
    text-align: center;
    padding: 9px 12px;
    font-size: 18px;
    margin-left: 2px;
    margin-bottom: 2px;
}


.topnav a.icon {
    display: none;
}
/* настройки для предполагаемого тугла кнопок навигационного меню */
.navBtn{
    color: #2B2A29;
}

.navBtnAct{
   background-color: #1E4495;
   color:#FFFFFF;
}

/* hover эфекты главного меню */
.navSticky:hover {
   opacity: 1;
}

.topnav a:not(:nth-child(9n+1)):hover  {
   background-color: #1E4495;
   color:#FFFFFF;
}
.lineQ{
  margin-top: 10px;
  height: 1px;
  min-width: 1200px;
  border-bottom: 1px solid  #272748;
}




.lineQ2{
  margin-top: 22px;
  height: 1px;
  min-width: 315px;
  border-bottom: 1px solid  #272748;
}



.button{
 background-color: #3860A8;
 border: none;
 font-size: 18px;
 color: #FFFFFF;
 height: 37px;
 width: 145px;
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
 cursor: pointer;
 font-family: Oswald;
 display: flex;
 justify-content: center;
 align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.button:active {
 margin-bottom: -1px;
 margin-top: 31px;
 background-color: #1E4495;
 -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.button{
  margin-top: 30px;
  margin-right: 30px;
}
.buttons{
  display: flex;
}




.svgLable{
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.about{
  margin-top: 50px;
  margin-bottom: 50px;
  display:  block; 
  margin-left: auto; 
  margin-right: auto; 
  max-width:  765px;
  width:  100%;
  /*border: 1px solid black;  */   
}

#aboutimg{
 width:   80px;
 height:  80px;
}

#aboutTests{

  max-width: 550px;
  min-height: 50px;
  margin-top: 27px;
margin-left: auto; 
  margin-right: auto; 
  height: auto;
  display: flex;
  justify-content: center;
  /*border:1px solid black;*/
  position: relative;
  
}

#textForTestAbout{
  display:  flex; 
 margin-left: 80px;
  margin-top: 5px;
}

#textForTestAbout h1{
  font-size: 29px;
  font-weight: normal;
}

.blueLine{
  display:  flex;
  margin-left:  auto; 
  margin-right:   auto;   
  width:  100%;
  height: 4px;
  background-color:#3860A8;  
  margin-top: 25px; 
    
}

#grey{
   background-color: #C4C4C4;
   margin-top: 5px; 
}

.about h2{
  font-size: 27px;
  font-weight: normal;
  margin-top: 70px;
}

.about p{
  font-size: 18px;
  text-align: justify;
  margin-top: 18px;
}


#testImg{
  width: 100%;
  max-width: 504px;
  display: flex;
  margin-left: 0px; 
 
}

  .lineQ2{
   margin-top: 70px;
   
    }

.suppurtProject{
  width: 90%;
  max-width: 765px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
/*  border: 1px solid black;*/
  justify-content: center;
  margin-bottom: 72px;
}

.donate{
  margin-top: 45px;
  max-width: 315px;
  /*background-color: red;*/
      
}

.donate p{
   display: flex;
   font-size: 18px;
   justify-content: center;
 }

#id_sum{
  height: 27px;
  width: 145px;
  
}

label[for=id_sum]{
  color: #1E4495;
  margin-left: 0;
  display: block;
}

.moneyInput{
  display: flex;
  justify-content: left;
  
}

.wrapper{
  display: inline-flex;
  /*border:1px solid black;*/
  margin-top: 19px;
  margin-left: 19px;
}
.wrapper div{
  margin-left: 5%;
}

.wrapper input{
  display: none;
}
.wrapper input + label{
  width: 63px;
  height: 3px;
  background-color: rgba(13, 50, 137, 0.17);
     font-size: 2px;
     cursor: pointer;
  /*display: none;*/

}

.wrapper input:checked + label{
  background-color: #0D3289;
} 


#yMoney{
  width: 63px;

}
#McVMirMoney{
  width: 63px;

}

.sendMoney{
  margin-top: 9px;
  margin-left: 0;
}

.sendMoney:active{
  margin-top: 10px;
}

.blueline{
  background-color: #1E4495;
  width: 100%;
  height: 4px;
/*  display: flex;*/
  margin-left:auto;
  margin-right:auto;
  margin-top: 4px;
  margin-bottom: 9px;
 }


.adver{
   width: 315px;
/*  height: 315px;*/
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 15%;
  /*margin-bottom: 80px;*/
}

#lastGrey{
  display: none;
}

.greyLine{

  max-width: 1080px;
  width: 90%;
  height: 4px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  margin-top: 31px;
  margin-bottom: 27px;
}

   .footer{
  
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;
     position: relative;
    /* border:1px solid black; */
     max-width: 1920px;
     height:303px;
    }

    #footerimg{
    position: absolute;
    left: 0px;
    top: 0px;
     height:303px;

    }

.footerRef{
    width: 95%;
    max-width: 350px;
    position: absolute;
    left: 135px;
    display: block;
    margin-top: 15px;   
  
}
.footerRef a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

footer{
  overflow: hidden;
  height:303px;
  width: 100%;
  /*position: relative;*/
 }

 #prefooter{
   /*  top: 0px;*/
    z-index: -1;
    width: 100%;
    height: 303px;
    position: absolute;

  }
  

/*.moneyDiv{
   width: 90px;
   height: 10px;
   border: 1px solid black;
}*/






@media screen and (max-width: 800px){
    .adverTop
    {
     display: none;
    }


    .topnav a:not(:first-child){
	   	display: none;
    }
    .topnav a.icon {
      position: absolute;
      right: 0;
      top:0;
      margin-top: 4px;
      cursor: pointer;
      /*  margin-top:-1px;*/
      display: block;
      color: black;
    }    
    
    nav{
    	width: 100%;
    	height: 72px;

    }
    .topnav{
        position: absolute;
        display: block; 
        border-bottom: 1px solid  #272748;
        padding-top: 1px; 

     }
    .topnav.responsive{
       /* position: fixed;*/
        display: block;
         z-index: 1002;
         background-color: white;
        /* -webkit-box-shadow: 1px 9px 41px -4px #0435B3;
        -moz-box-shadow: 1px 9px 41px -4px #0435B3;
         box-shadow: 1px 9px 41px -4px #0435B3; */
        /* transition: all 0.1s ease-in-out; */

    }

    .navSticky{
    display: block;
    
    width: 100%;
    position: absolute;
    z-index: 1001;
    top:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    }

 
    .topnav.responsive a{
     	float:none;
    	display: block;
    	text-align:left;
    } 
  
    .lineQ{
      display: none;
    }

    
  
  .lineQ2{
/*   margin-top: 60px;*/
  }
  

   .startPoint{
 
     width: 90%;
   }


.buttons{
/*  display: flex;
*/  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block;


/*  background-color: green;*/
}

#shlbutton{
  margin-left: 0;
  margin-right: 5%;
}

.suppurtProject{
display: block;
}

.donate{
  margin-left: auto;
  margin-right: auto;
}

.adver{
  margin-left: auto;
  margin-right: auto;
}


#lastGrey{
  display: block;
  margin-top: 63px;
}

   #footerimg{
    
    left: -270px;
    
    }

    .footerRef{
   
    left: 45px;
     
}


/*#aboutTests{
  width:  90%;
 }

.blueLine{
     
  width:  90%;
 }*/

 .about{
  width: 90%;
  margin-top: -20px;
 }
  .about p{
  font-size: 16px;
  }

 .about h2{
  font-size: 22px;
  }


#textForTestAbout h1{
  font-size: 25px;
  
}



}  



   
  

@media screen and (max-width: 1200px) and (min-width: 800px){

   .lineQ, .lineQ2{
    width: 100%;
    min-width: 0px;
   
    }
    

 .startPoint{
  
  width: 90%;
  }

 

   #footerimg{
    
    left: -50px;
    
    }

    .footerRef{
   
    left: 100px;
     
}

 #prefooter{
  display: none;

  }



}


@media screen and (max-width: 1450px) and (min-width: 1200px){

 
   
 

}

 
 



