nav{
  
   /* height: 55px;*/
    display: block;
   /* overflow: hidden;*/
    transition: all 0.5s;
}
.nawWrap{
   overflow: hidden;
   height: 55px;
   transition: all 0.5s;
    z-index: 1001;
    background-color: white;
}
/*.navSticky{

    width: 100%;
    position: fixed;
    z-index: 1001;
    top:0;
    -webkit-box-shadow: 1px 8px 37px -3px #0435B3;
    -moz-box-shadow: 1px 8px 37px -3px #0435B3;
    box-shadow: 1px 8px 37px -3px #0435B3;
}*/


.topnav{
/*   min-width: 350px;*/
    display: block;
    height: 55px;
    background-color: #FFFFFF;
    font-size: 13px;
    transition: all 0.1s ease-in-out;
     padding-top: 9px; 
     min-width: 350px;
    /*-webkit-box-shadow: 1px 9px 41px -4px #0435B3;
    -moz-box-shadow: 1px 9px 41px -4px #0435B3;
    box-shadow: 1px 9px 41px -4px #0435B3;*/
}

.topnav1, .topnav2{
  display: inline-flex;
  justify-content: center;
    width: 100%;  
    
}

.topnav2{
  margin-top: 3px; 
    
}

.topSelector{
  display: inline-flex;
  padding-top: 9px; 
  margin-left: 5px;
  cursor: pointer;
}

.more{
  font-size: 18px;
  margin-left: 5px;
}



.arrow-nav{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #1E4495;
margin-top: 5px;
   transition: .5s all;
  -webkit-transform: rotate(0deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(0deg);      /* to support IE 9 */
    transform: rotate(0deg);
}


.topnav a, .topnav2 a{

    transition: all 0.1s ease-in-out;
    display: inline-block;
    transition: all 0.1s;
    text-align: center;
    padding: 7px 12px;
    font-size: 18px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.topnav2 a{

/*padding: 5px 12px;*/
margin-top: 2px;
   
}

#firstQ{
  margin-top:0px; 
}



.topnav a.icon {
    display: none;
}
/* настройки для предполагаемого тугла кнопок навигационного меню */
.navBtn{
    color: #2B2A29;
}

.navBtnAct{
   background-color: #1E4495;
   color:#FFFFFF;
}

/* hover эфекты главного меню */
/*.navSticky:hover {
   opacity: 1;
}*/

#myTopnav a:not(:first-child):hover  {
   background-color: #1E4495;
   color:#FFFFFF;
}

#menu:hover{
   background-color: white;
   color:black;

}


.topnav2 a:hover{
  background-color: #1E4495;
   color:#FFFFFF;
}

@media screen and (max-width: 800px){
    .adverTop
    {
     display: none;
    }


   .topnav div.icon {
      position: absolute;
      right: 0;
      top:0px;

      padding-top: 20px;
      padding-right: 20px;
      padding-left: 30px;
      padding-bottom: 10px;
     /* border: 1px solid red;*/
      cursor: pointer;
      /*  margin-top:-1px;*/
      display: block;
      color: black;
    }    
    
    .topnav1 a, .topnav2 a{
      display: block;
    text-align: left;
    padding-left: 20px;
    }

    .topSelector{
      padding-left: 15px;
    }
    
    .topnav2 a{
          padding-left: 30px;
        }


     .topnav1, .topnav2{
      display: block;
    }

   .nawWrap, .topnav{
     height: auto;
   }
   
   
   .topnav{
       height: 50px;
     }
   .nawWrap{
       height: 50px;
    
   }


/*    .navSticky{
    display: block;
    
    width: 100%;
    position: static;
    z-index: 1001;
    top:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    }*/

 
   


}